.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.Canvas {
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #9a8866;
  padding: 1em;
}

.App-header-buttons > button {
	padding: 0.5em 1em;
	font-size: large;
	font-weight: bolder;
	font-family: 'Bender';
	background: #9a8866;
	color: black;
	border: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
