.MapList {
  height: 100%;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.MapList-Card {
  margin: 1em;
  background: #9A8866;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}